{% extends 'base.html' %}
{% block content %}

<div class="container">
    

    <p class="row">
       
        <h3>Account Information</h3>
        <table>
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{customer.username}}</td>
                    <td>{{customer.first_name}}</td>
                    <td>{{customer.last_name}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.email}}</td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>Address 1</th>
                    <th>Address 2</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Zip Address</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{customer.address_1}}</td>
                    <td>{{customer.address_2}}</td>
                    <td>{{customer.city}}</td>
                    <td>{{customer.country}}</td>
                    <td>{{customer.zip_address}}</td>
                </tr>
            </tbody>
        </table>



        <h4>Your Subscriptions</h4>
        <table>
            <thead>
              <tr>
                  <th>Start Date</th>
                  <th>Subscription Type</th>
                  <th>Renewal Date</th>
              </tr>
            </thead>
    
            <tbody>
                {% for field in subscriptions %}
                <tr>
                    <td>{{field.start_date}}</td>
                    <td>{{field.subscription_choice}}</td>
                    <td>{{field.renewal_date}}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>

    
</div>

{% endblock content %}