{% extends 'base.html' %}
{% block content %}

<div class="container">
    

    <p class="row">
       
        <h3>Account Information</h3>
        <table>
            <thead>
            <tr>
                <th>Field</th>
                <th>Data</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><strong>Username</strong></td>
                <td>{{logged_user.username}}</td>
            </tr>
            <tr>
                <td><strong>First Name</strong></td>
                <td>{{logged_user.first_name}}</td>
            </tr>
            <tr>
                <td><strong>Last Name</strong></td>
                <td>{{logged_user.last_name}}</td>
            </tr>
            <tr>
                <td><strong>Phone</strong></td>
                <td>{{logged_user.phone}}</td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>{{logged_user.email}}</td>
            </tr> 
            <tr>
                <td><strong>Address</strong></td>
                <td>
                {{logged_user.address_1}}<br>
                {% if logged_user.address_2 %}
                    {{logged_user.address_2}}<br>
                {% endif %}
                {{logged_user.city}} {{logged_user.zip_address}}<br>
                {{logged_user.country}}
                </td>
            </tr>                 
            </tbody>
        </table>
           

        <h4>Your Subscriptions</h4>
        {% if subscriptions.all %}
            <table>
                <thead>
                <tr>
                    <th>Start Date</th>
                    <th>Subscription Type</th>
                    <th>Renewal Date</th>
                </tr>
                </thead>
        
                <tbody>
                    {% for field in subscriptions %}
                    <tr>
                        <td>{{field.start_date}}</td>
                        <td>{{field.subscription_choice}}</td>
                        <td>{{field.renewal_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p>You don't have any Subscriptions</p>
        {% endif %}
    </p>

    
</div>

{% endblock content %}