{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Club Ex</title>

    <!-- https://getmdl.io/started/index.html -->

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/material.min.css' %}"
    />

    <script defer src="{% static 'js/material.min.js' %}"></script>
    {% block styles %} {% endblock styles %} {% comment %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endcomment %}
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header white-text">
        <div class="mdl-layout__header-row white-text">
          <!-- Title -->
          <div class="header-title">
            <a  href={%url "index"%} >
              <img width="80%" src={% static 'img/logo.png' %} />
            </a>
          </div>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href={%url "index"%}>Home</a>
            <a class="mdl-navigation__link" href={%url "stats"%}>Statistics</a>
            <a class="mdl-navigation__link" href={%url "login"%}>Sign In</a>
            <a class="mdl-navigation__link" href={%url "signup"%}>Sign Up</a>
            <a class="mdl-navigation__link" href={%url "videolist"%}>Video List</a>
            <a class="mdl-navigation__link" href={%url "results"%}>Results</a>
            
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Club-EX</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href={%url "index"%}>Home</a>
          <a class="mdl-navigation__link" href={%url "stats"%}>Statistics</a>
          <a class="mdl-navigation__link" href={%url "videolist"%}>Video List</a>
          <a class="mdl-navigation__link" href={%url "results"%}>Results</a>
          <a class="mdl-navigation__link" href={%url "login"%}>Sign In</a>
          <a class="mdl-navigation__link" href={%url "signup"%}>Sign Up</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">{% block content %} {% endblock content %}</div>
      </main>
      <footer class="mdl-mini-footer">
        <!-- Footer Content -->
      </footer>
    </div>
     
      
    </div>
  </body>
</html>
