{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Call to Action -->
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br /><br />
        <h1 class="header center blue-text text-lighten-2">Parallax Template</h1>
        <div class="row center">
          <h5 class="header col s12 light">
            A modern responsive front-end framework based on Material Design
          </h5>
        </div>
        <div class="row center">
          <a
            href="http://materializecss.com/getting-started.html"
            id="download-button"
            class="btn-large waves-effect waves-light blue lighten-1"
            >Get Started</a
            >
          <a
            href="http://materializecss.com/getting-started.html"
            id="download-button"
            class="btn-large waves-effect waves-light blue lighten-1"
            >Get Started</a
            >
        </div>
        <br /><br />
      </div>
    </div>
    <div class="parallax">
      <img src="{% static 'img/bg1.png' %}" alt="Unsplashed background img 1" />
    </div>
  </div>
  <!-- End Call to Action -->
  <!-- Subscriptions -->
  <div class="container">
    <div class="row">
      <div class="col s12 text-center">
        <h3>Pricing</h3>
      </div>
      <div class="col s12 m6">
        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title flow-text">Online Subscriptions</span>
                <p class="flow-text">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Doloribus, libero. Sed similique numquam consequuntur quo dolor
                  fuga omnis exercitationem neque.
                </p>
              </div>
              <div class="card-action">
                <a href={%url "signup"%}>$10 per month</a>
                <a href={%url "signup"%}>$100 per year</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Gym Subscriptions</span>
                <p class="flow-text">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Doloribus, libero. Sed similique numquam consequuntur quo dolor
                  fuga omnis exercitationem neque.
                </p>
              </div>
              <div class="card-action">
                <a href={%url "signup"%}>$20 per month</a>
                <a href={%url "signup"%}>$200 per year</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Subscriptions -->
  <!-- Trainers -->
  <div class="container">
    <div class="row">
      <div class="col s12 text-center">
        <h3>Meet the Trainers</h3>
      </div>
      <div class="col s12 m6">
        <div class="row">
          <div class="col s12 ">
            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/trainer1.png'%}">
                <span class="card-title black-text">Lucy</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="row">
          <div class="col s12 ">
            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/trainer2.png'%}" width="80%">
                <span class="card-title ">Rachel</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="row">
          <div class="col s12 ">
            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/trainer3.png'%}" width="80%">
                <span class="card-title ">Simon</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="row">
          <div class="col s12 ">
            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/trainer4.png'%}" width="80%">
                <span class="card-title ">Frank</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Trainers -->
      


{% endblock content %}
