<!-- 
    SANDBOX
    A place to store code until we are ready to use or delete it. 
-->

{% comment %} <div class="container">

    <div class="row">
      <div class="col s12">
        <h2 class="blue-text">Your Subscription Has Expired</h2>
      </div>
    </div>
  
    <div class="row">
      <form class="col s12" method="POST">
        {% csrf_token %} 
  
        <label for="cars">Choose a car:</label>
        <select name="cars" id="cars">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
  
  
        <!-- Expiry Date-->
          <div class="input-field col s12">
            <input class="blue-text" id="expired_date" type="text" name={{form.renewal_date}} >
            <label for="expired_date">Expired Date</label>
          </div>
  
        <!-- Auto Recur Subscription -->
          <div class="input-field col s12">
            <label for="{{form.auto_reccurring_subscription}}">  
              <input class="blue-text" type="checkbox" name="{{form.auto_reccurring_subscription}}" id="{{form.auto_reccurring_subscription}}" >
              <span> {{form.auto_reccurring_subscription.label}} </span>
            </label>
          </div>
  
        <!-- Subscription Type -->
          <div class="input-field col s12">
            <select name="subscription_combo">
              {% for subscription in subscriptions %}
                <option value="{{subscription.id}}">{{subscription}}</option>
              {% endfor %}
            </select>
          <div>
  
        </div> <!-- end class=row -->
  
  
        <div class="row">
          <div class="col s12">
            <button type="submit" class="waves-effect waves-light blue btn" value="Register User">
              Submit
            </button>
          </div>
        </div>
  
      </form>
    </div> <!-- end class=row -->
  </div> <!-- end class=container--> 
  {% endblock content %}{% endcomment %}




              <!-- 
            renewal_date = forms.DateField(help_text="This Will be the Next payment date and will update automatically", widget=forms.DateInput(attrs={'class': 'datepicker', 'type': 'date'}))
            start_date = forms.DateField(help_text="This Will be the start date of your subscription", widget=forms.DateInput(attrs={'class': 'datepicker1', 'type': 'date'}))
            subscritpion_choice = forms.CharField(label="Select Subscription",widget=forms.Select(choices=SUBSCRIPTION_CHOICES))
            autorecurring_choice = forms.CharField(label="Automatically Recur Subscription",widget=forms.Select(choices=AUTORECURING_CHOICES))
            fixed_start_date = forms.CharField(max_length=15)
            fixed_end_date = forms.CharField(max_length=15) 
        -->

                        
                <!-- <div class="input-field col s12">
                    <select id="subscription-type">
                      <option value="" disabled selected>Select Subscription</option>
                      <option value="1">Monthly Online Only - $10/pm</option>
                      <option value="2">Annual Online Only - $100/pa</option>
                      <option value="3">Monthly Gym Access - $20/pm</option>
                      <option value="3">Annual Gym Access - $200/pa</option>
                    </select>
                    <label>Subscription Type</label>
                </div>

                <div class="col s12">
                    <span class="blue-text">Total Payment Due: </span>
                    $<span id="display-amount" class="">0</span>
                </div> -->

      
    // let subscriptionSelect = document.getElementById('subscription-type');
    // let displayText = document.getElementById('display-amount');

    // subscriptionSelect.addEventListener('change', (e)=>{
    //     switch (e.target.value) {
    //         case '1':
    //             displayText.innerText = "10"
    //             break;
    //         case '2':
    //             displayText.innerText = "100"
    //             break;
    //         case '3':
    //             displayText.innerHTML = "20"
    //             break;
    //         case '4':
    //             displayText.innerHTML = "200"
    //             break;
    //         default:
    //             displayText.innerHTML = ""
    //         }
    // });