{% extends 'base.html' %}
{% load app_tags %}
{% block content %}
<div class="container">

    <div class="col s12">
      <h2 class="blue-text">Statistics</h2>
    </div>

    <p>
        <span>Showing Statistics for <strong>{{user.username}}</strong> <span>
        {% if user.first_name %}
            <span> - {{user.first_name}} {{user.last_name}}</span>
        {% endif %}
    </p>

    <br>

    <!-- Management Only Statistics -->
    {% for group in user.groups.all %}
        {% if group.name == "management" %}
            <h4>Management Statistics</h4>

            <!-- Total Videos-->
            <div class="row">
                <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="card-title">Total Videos</span>
                    <p>{% count_videos %}</p>
                    </div>
                </div>
                </div>

                <!-- Total Video Watch Time-->
                <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="card-title">Total Watch Time</span>
                    <p>{% sum_watch_time %} minutes</p>
                    </div>
                </div>
                </div>

                <!-- Total Customers -->
                <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="card-title">Total Customers</span>
                    <p>{% count_customers %}</p>
                    </div>
                </div>
                </div>
            </div>

            <!-- Group Videos and Sum Watch Time -->
            {% sum_watch_time_by_videos as videos %}
            <h5>Video Total Watch Time</h5>
            <table>
            <thead>
            <tr>
                <th>Video Title</th>
                <th>Category</th>
                <th>Total Watch Time</th>
            </tr>
            </thead>
            <tbody>
            {% for video in videos %}
            <tr>
                {% for video_detail in video.all %}
                    {{video_detail}}
                {% endfor %}
                <td><a href="">{{video.video_name}}</a></td>
                <td>{{video.videoCategory}}</td>
                {% if video.watch_time%}
                    <td>{{video.watch_time}}mins</td>
                {% else %}
                    <td>0mins</td>
                {% endif %}
                
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>
        {% endif %}
    {% endfor %}


    <!-- Watch History -->
    <h5>Video Watch History</h5>
    {% if user.customer.customer_watch_times.all %}
        <table>
            <thead>
            <tr>
                <th>Video Title</th>
                <th>Category</th>
                <th>Watch Time</th>
            </tr>
            </thead>
            <tbody>
            {% for video in user.customer.customer_watch_times.all %}
            <tr>
                {% for video_detail in video.all %}
                    {{video_detail}}
                {% endfor %}
                <td><a href="">{{video.video_id.video_name}}</a></td>
                <td>{{video.video_id.videoCategory}}</td>
                <td>{{video.total_watch_time}}mins</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have not watched any videos yet</p>
    {% endif %}
</div>
<br>
{% endblock content %}