{% extends 'base.html' %} {% load static %} {% load app_tags %} {% block styles %}
<link
  type="text/css"
  rel="stylesheet"
  href="{% static 'css/splide.min.css' %}"
  media="screen,projection"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="{% static 'css/splide-default.min.css' %}"
  media="screen,projection"
/>
{% endblock styles %} {% block content %}

<div class="container">
  <form method="GET" action="{% url 'results' %}">
    {% csrf_token %}

    <div class="row"></div>
    <div class="row">
      <div class="col s4"></div>
      <div class="col s4">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search Videos"
          aria-label="Search"
          name="search"
        />
      </div>
      <div class="col s4">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </div>
    </div>
    <div class="row"></div>
  </form>
</div>

<div
  style="
    background: url('/static/img/videos/video2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  "
>
  <div class="overlay">
    <div class="container">
      <div class="col selected-video">


      </div>
    </div>

    <div class="container">
      {% for c in categories %}
      <div class="row">
        <div class="col s-6 white-text"><h3>{{c}}</h3></div>
      </div>
      <div id="image-slider{{for.counter}}" class="splide mt-4">
        <div class="splide__track">
          <ul class="splide__list">
            {% for v in videos %}
              {% if v.videoCategory == c %}
                <li class="splide__slide">
                  <a href="#">
                  <img src="{{v.video_image_URL}}" 
                  width="300px"
                  onclick="updateSelectedVideo('{{v.video_name}}', '{% get_video_views v %}', '{{v.video_URL}}','{{v.video_description}}')" />
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}

     
      <div style="margin-top: 3rem"></div>
    </div>

    {% endblock content %} {% block scripts %}

    <script>

      document.addEventListener("DOMContentLoaded", function () {

        global_carousel__ctrl();
      });

      function global_carousel__ctrl() {
        var elms = document.getElementsByClassName("splide");
        for (var i = 0; i < elms.length; i++) {
          new Splide(elms[i], {
            type: 'loop',
            pagination: false,
            autoWidth: true,
            gap: 25,
            perPage: 2,
            perMove: 1,
            focus: 'center',
            padding: {
              right: '5rem',
              left: '5rem',
            },
          }).mount();
        }
      }
    


      const updateSelectedVideo=(title, views, url, description)=>{
        $('.selected-video').replaceWith(
          ` <div class="col selected-video">
            <div class="row s12 m9"></div>
            <div class="row s12 m9">
          <div class="iframe-container">
            <iframe
              class="responsive-iframe"
              src="${url}"
              title="YouTube video player"
              width="100%"
              height="600"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="row s12 m3 white-text right-align">
          <h3>${title}</h3>
          <p>Total Views: ${views}</p>
          <p>
            ${description}
          </p>
          <div class="yellow-text accent-2">
            <i class="small material-icons">star</i>
            <i class="small material-icons">star</i>
            <i class="small material-icons">star</i>
            <i class="small material-icons">star</i>
            <i class="small material-icons">star_half</i>
          </div>
        </div></div>`
        )
      };
    </script>
    {% endblock scripts %}
  </div>
</div>
