{% extends 'base.html' %} {% load static %} {% block styles %}
<link
  type="text/css"
  rel="stylesheet"
  href="{% static 'css/video-slider.css' %}"
  media="screen,projection"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock styles %} {% block content %}

<div class="container">
  <form method="GET" action="{% url 'results' %}">

    {% csrf_token %}

    <div class="row"></div>
    <div class="row">
      <div class="col s4"></div>
      <div class="col s4">
        <input class="form-control me-2" type="search" placeholder="Search Videos" aria-label="Search" name="search">
      </div>
      <div class="col s4">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </div>
    </div>
    <div class="row"></div>
  </form>
</div>

<div>
  <section id="media">
    <div class="video">
      <iframe width="500" height="250" src="https://youtube.com/embed/Eml2xnoLpYE" frameborder="80" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="vidtitle">Full Body Yoga for Strength & Flexibility</p>
        <div class="white-text accent-2">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span> 
        </div>
    </div>
      
  
  <div class="video">
      <iframe width="500" height="250" src="https://youtube.com/embed/fCY6SzJTZPk" frameborder="80" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="vidtitle">Full Body Aerobics Workout</p>
        <div class="white-text accent-2">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </div>
  </div>
  

  <div class="video">
      <iframe width="500" height="250" src="https://youtube.com/embed/g_tea8ZNk5A" frameborder="80" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       <p class="vidtitle">Daily Full Body Stretch</p>
       <div class="white-text accent-2">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
  </div>
  
  <div class="video">
      <iframe width="500" height="250" src="https://youtube.com/embed/-YpRYNREDV8" frameborder="80" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="vidtitle">Full Body Workouts</p>
        <div class="white-text accent-2">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </div>
  </div>

  <div class="video">
    <iframe width="500" height="250" src="https://youtube.com/embed/IvmaekQfKiw" frameborder="80" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p class="vidtitle">Body Cardio Workouts</p>
      <div class="white-text accent-2">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
  </div>

  <div class="video">
    <iframe width="500" height="250" src="https://youtube.com/embed/IeGrTqW5lek" frameborder="80" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p class="vidtitle">Morning Body Workouts</p>
      <div class="white-text accent-2">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
  </div>

</section>
</div>


{% endblock content %} {% block scripts %} {% endblock scripts %}
