[type='checkbox'].leaflet-control-layers-selector {
  position: static !important;
  left: 0px !important;
  opacity: 1 !important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.65);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.text-black {
  color: black;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.text-center {
  text-align: center;
}

.card-action {
  display: flex;
  justify-content: center;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #3550f5;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #7c8ef6;
}

.rating__star {
  cursor: pointer;
  color: #dabd18b2;
}
