
:root {
    --primary-color: #2699FB;
    --secondary-color: #BCE0FD;
    --tertiary-color: #F1F9FF;
    --dark-gray: #95989A;
    --light-gray: #E6E6E6;
    --text-color: rgb(32, 32, 32);
    --page-padding: 20px;
}

* {
    margin: 0;
    box-sizing: border-box;
    color: rgb(35, 35, 35) ;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--tertiary-color);
}

.spacing {
    height: 20px;
    background-color: white;
}

.page-container {
    margin: 0 auto;
}



.superscript {
    position: relative;
    font-size: 100%;
    top: -.7rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    max-width: 70ch;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
    color: var(--text-color);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 40ch;
    font-size: 2.5rem;
    /* text-transform: uppercase; */
    line-height: 2.4rem;
    color: var(--primary-color);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.9rem;
    color: var(--dark-gray);
}


.button{
    font: bold;
    font-size: 0.9rem;
    margin: 0.25rem;
}

.button-primary {
    background-color: var(--primary-color);
    color: white;
}

.button-secondary {
    background-color: white;
    color: var(--primary-color);
}


/* Mobile */
@media screen and (max-width: 767px){

    .page-container{
        width: 100%;
    }
}


/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){

    .page-container{
        width: 85%;
    }
}


/* Desktop */
@media screen and (min-width: 1024px){

    .page-container{
        width: 70%;
    }
}